@charset "UTF-8";
.h-left {
  text-align: center !important;
}

.h-center {
  text-align: center !important;
}

.h-right {
  text-align: center !important;
}

.v-top {
  vertical-align: top;
}

.v-center {
  vertical-align: middle;
}

.v-bottom {
  vertical-align: bottom;
}